@import url('https://fonts.googleapis.com/css2?family=Federant&family=Merriweather:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Merriweather, sans-serif;
    color: white;
}

h1 {
    font-family: Federant, sans- serif;
    letter-spacing: 2px;
    color: #df0000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 200%;
}

.game-area {
    background-image: url(../images/background.jpg);
    width: 800px;
    height: 700px;
    margin: auto;
}

.overlay {
    width: 800px;
    height: 700px;
    margin: auto;
    background: #00000099;
}


.main-play {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 50px;
    gap: 30px;
    font-size: 200%;
    color: #df0000;
}

.main-play span {
    color: white;
    margin-left: 50px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 40px;
    font-size: 175%;
    color: #f2c300;
}

/* Media Queries */
/* For small screens (max width: 500px) e.g galaxy fold, iPhones */
@media screen and (max-width: 500px) {

    .game-area,
    .overlay {
        width: 90%;
        margin-left: 5%;
    }
}